@import "tailwindcss";

@theme {
  /* Colors */
  --color-elevation-1: #2a2f34;
  --color-elevation-2: #1b1f23;
  --color-elevation-3: #343a40;

  --color-highlight-1: #e0e4e8;

  --color-primary: #4db6ac;

  /* Sizes */
  --spacing-input: 24px;
  --spacing-rootWidth: 280px;
  --text-root: 12px;
}

@media (max-width: 640px) {
  :root {
    --spacing-input: 18px;
    --spacing-rootWidth: 210px;
    --text-root: 9px;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
